{% extends 'base.html' %}
{% load product_extras%}

{% block navbacart %}
  <nav class="navbar navbar-light bg-light navbar-comunicado">
    <div class="container">
      <span class="text-black">
        <blockquote class="pt-3 blockquote">TU CARRITO</blockquote>
      </span>
    </div>
  </nav>
{% endblock %}
{% block content %}
  {% if cart.products.exists %}
  <div class="row">
    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-xxl-8 pb-4">
      <table class="table">
        <thead>
          <tr>
            <th class="col"></th>
            <th class="col"></th>
            <th class="col"></th>
            <th class="col">Cantidad</th>
            <th class="col">Precio</th>
          </tr>
        </thead>
        <tbody>
          {% for cp in cart.products_related %}
            {% with product=cp.product %}
              <tr>
                <th>{{ forloop.counter }}</th>
                <th>
                  {% if product.image %}
                    <img src="{{ product.image.url }}" alt="Imagen del producto" width="60" height="60">
                  {% endif %}
                </th>
                <th>
                  <a href="{% url 'products:product' product.slug %}">{{ product.title }}</a>
                  {% include 'snippets/remove.html' %}
                </th>
                <th>{{ cp.quantity }}</th>
                <th>
                  <span class="font-weight-bold text-danger">{{ product.price | price_format }}</span>
                </th>
              </tr>
            {% endwith %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
      <h6>RESUMEN DEL PEDIDO</h6>
      <div class="card">
        <div class="card-body">
          <div class="font-weight-bold">
            Subtotal: <span class="text-danger">{{ cart.subtotal | price_format }}</span>
          </div>
          <div class="mt-2">
            <a href="{% url 'orders:order' %}" class="btn btn-warning btn-block">Proceder al pago</a>
          </div>
        </div>
      </div>

    </div>
  </div>
  {% else %}
    <div class="col">
      <p class="h3">Tu carrito de compras está vacío.</p>
      <a href="{% url 'index' %}">Seguir comprando</a>
    </div>
  {% endif %}
{% endblock %}