<form action="{% url 'carts:add' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="product_id" value="{{ product.id }}">
  <div class="btn-group row g-1 mt-1">
    <div class="col-2">
      <button type="button" class="btn btn-info form-control" id="remove">-</button>
    </div>
    <div class="col-3">
      <input type="number" value="1" class="form-control" id="quantity" name="quantity" readonly>
    </div>
    <di class="col-2">
      <button type="button" class="btn btn-info form-control" id="add">+</button>
    </di>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 pt-4 pb-5 mb-5">
    <button type="submit" class="btn btn-warning btn-block">AGREGAR A CARRO DE COMPRA</button>
  </div>
</form>

<script>
  const add = document.getElementById('add')
  const remove = document.getElementById('remove')
  const quantity = document.getElementById('quantity')

  add.addEventListener('click', function(){
    quantity.value = parseInt(quantity.value) + 1
  })

  remove.addEventListener('click', function(){
    value = parseInt(quantity.value)

    if(value != 1){
      value = value - 1
    }
    quantity.value = value
  })
</script>